.search_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon_wrapper {
  display: flex;
  align-items: center;

  p {
    font-weight: bold;
    margin-left: 10px;
    font-size: 2rem;
  }
}

.label {
  display: none;
}

.input {
  width: 100%;
  padding: 15px;
  font-size: 18px;
  border-radius: 30px;
  border: 1px solid #5c5c5c;
}

.search_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.search_icon {
  top: 13px;
  right: 18px;
  position: absolute;
}

.search_input_wrapper {
  position: relative;
  width: 90%;

  @media only screen and (min-width: 600px) {
    width: 400px;
  }
}

.search_button {
  margin-top: 25px;
}
