.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding:15px 10px;
  box-shadow: 0px 1px 10px 0px grey;

  @media only screen and (min-width: 600px) {
    padding: 15px 30px;
  }
}
